* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}/*Partimos de unas premisas con valor 0*/

body {
    font-family: 'Verdana'
}

header {
    background-color: rgb(29, 83, 27);
    padding: 25px;
    text-align: center;
    font-size: 35px;
    color: white;
}/*Aplicamos flex al header*/

main {
    display: flex;
}/*Aplicamos flex al main*/

header img {
    width: 100px;
    float: left;
}

nav {
    
    /*float: left;*/
    width: 12.2%;
    background-color: rgb(66, 167, 71);
}

nav ul {
    margin: 10%;
    padding: 0%;
    list-style-type: none;
    text-align: center;
}

nav ul > li {
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 300;
    color: #006505;
    background-color: #82b085;
    border-radius: 15px;
    border: 3px double #006505;
    text-align: center;
}

section {
    /*float: left;*/
    width: 100%;
    background-color: rgba(150, 231, 157, 0.788);
    color: rgb(9, 44, 0);
}

section > p {
    margin: 1%;
}

article {
    margin: 2%;
}

section > h3 {
    margin: 1%;
}

article > img {
    margin: 20%;
}

table {
    border-collapse: collapse;
    width: 60%;
}

table, th, td {
    border: 2px solid rgb(10, 58, 10);
}

td {
    text-align: center;
}

fieldset {
    padding: 1%;
    color: rgb(0, 0, 0);
}

fieldset > legend {
    font-size: x-large;
}

footer {
    text-align: center;
    background-color: rgba(10, 82, 16, 0.788);
    color: rgb(224, 224, 224);
}