* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: rgb(18, 112, 14);
    padding: 25px;
    text-align: center;
    font-size: 35px;
    color: white;
}

header > img {
    width: 200px;
    float: left;
}

nav {
    
    float: left;
    width: 12.2%;
    background-color: rgb(18, 168, 25);
}

nav ul {
    margin: 10%;
    padding: 0%;
    list-style-type: none;
    text-align: center;
}

nav ul > li {
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 300;
    color: #006505;
    background-color: #82b085;
    border-radius: 15px;
    border: 3px double #006505;
    text-align: center;
}

section {
    float: left;
    background-color: rgba(10, 82, 16, 0.788);
    color: rgb(224, 224, 224);
}